
.flex-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.horizontal-rule{
    height: 2px;
    background: rgb(223,223,223);
    margin-top: 10px;
}

.image-caption{
    padding-top: 5px;
    font-family: auto;
    font-size: 16px;
}
.image-hashtags{
    font-size: 14px;
    padding-top: 3px;
    font-family: auto;
    color: rgb(106,181,254);
}

.image-liked-icon{

    color:red; 

}

.image-like-icon{

    color: black;
}

.comment-display{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.comment-text{
    padding-left:10px;
}

.comment-username{
    font-size: inherit;
}